
header {
    position: relative;
    top: 150px;
    left: 10%;
    

    
}

h1{
    color: black;
    width: 80vi;
    font-size: 5vi;
    font-family: Arial;    
}

h2{
    color: black;
    font-size: 3vi;
    font-family: Arial;
    width: 80vi;
    
}
.navigationbuttons{
    position: absolute;
    right: 0;
    top: 20px;
    width: 250px;
    font-size: 25pt;
}

.container{
    position: relative;
    top: 250px;
}